collab/__pycache__/forms.cpython-312.pyc
collab/__pycache__/models.cpython-312.pyc
collab/__pycache__/urls.cpython-312.pyc
collab/__pycache__/views.cpython-312.pyc
collab/migrations/__pycache__/0005_projectfile_version.cpython-312.pyc
collab/migrations/__pycache__/0006_chatmessage.cpython-312.pyc
